<div class="header-navigation mt-2">
    <div class="row" style="height: 100%;">
        <div class="col-md-9 navigation">
            <div class="d-flex align-items-center" style="height: 100%;">
                <div class="sub-nav">
                    <fa-icon [icon]="faHome" class="custom-svg"></fa-icon>
                    <a >home</a>
                </div>

                <div class="sub-nav">
                    <fa-icon [icon]="faStar" class="custom-svg"></fa-icon>
                    <a >Wish List(0)</a>
                </div>

                <div class="sub-nav">
                    <fa-icon [icon]="faUser" class="custom-svg"></fa-icon>
                    <a >My account</a>
                </div>
                
                <div class="sub-nav">
                    <fa-icon [icon]="faRocket" class="custom-svg"></fa-icon>
                    <a >Log In</a>
                </div>

                <div class="sub-nav">
                    <fa-icon [icon]="faCheck" class="custom-svg"></fa-icon>
                    <a >Checkout</a>
                </div>

            </div>
        </div>
        <div class="col shop">
                <div class="item d-flex align-items-center">
                    <fa-icon [icon]="faShoppingCart" class="custom-svg custon-svg--big"></fa-icon>
                    <span>0 Item(s)</span>
                </div>
         </div>
    </div>
</div>