  <div class="d-flex justify-content-center">
    <div class="col-9">
        <div class="d-flex justify-content-between pt-2">
             <div class="info d-flex align-items-center">
                    <h3>{{ router.url === '/panel/user-settings' ?  'Account settings' : 'Products' }}</h3>
                    <a class="pl-3" [routerLink]="['./add-item']" routerLinkActive="active">Products </a>
                    <a [routerLink]="['./user-settings']" routerLinkActive="active" class="pl-3"> Account settings</a>
             </div>
             <div class="panel d-flex" >
                 <button class="btn btn-info" [routerLink]="['/store']" style="margin-right: -15px;">Back To Shop</button>
             </div> 
        </div>
        <router-outlet></router-outlet>
    </div>
  </div>
  