<div class="special-container">
    <div class="d-flex justify-content-between special">
        <div class="box-special">
            <p>Specials</p>
        </div>

        <div class="arrows d-flex">
            <div class="arrow arrow-left">
                <span>
                    <</span> </div> <div class="arrow arrow-right">
                        <span>></span>
            </div>

        </div>
    </div>
     <ng-container *ngIf="($topProducts | async ) as topProducts">
         <app-product-box
         *ngFor="let product of topProducts"
         [product]='product'>
         </app-product-box>

     </ng-container>
</div>





<app-best-sellers>
    
</app-best-sellers>