<div class="special-container">
    <div class="d-flex justify-content-between special">
        <div class="box-special">
            <p>Specials</p>
        </div>

        <div class="arrows d-flex">
            <div class="arrow arrow-left">
                <span>
                    <</span> </div> <div class="arrow arrow-right">
                        <span>></span>
            </div>

        </div>
    </div>

    <div class="special-box mt-4">
        <div class="row">
            <div class="col-4">
                <app-spinner></app-spinner>
            </div>
            <div class="col-8 pl-0">
                <span class="price-fixed">$238.96</span>
                <span class="price-sale">$278.96</span>
                <p>Lorem ipsum dolor sit</p>

            </div>
        </div>
    </div>
    <div class="special-box mt-4">
        <div class="row">
            <div class="col-4">
                    <app-spinner></app-spinner>
            </div>
            <div class="col-8 pl-0">
                <span class="price-fixed">$238.96</span>
                <span class="price-sale">$278.96</span>
                <p>Lorem ipsum dolor sit</p>

            </div>
        </div>
    </div>
    <div class="special-box mt-4">
        <div class="row">
            <div class="col-4">
                    <app-spinner></app-spinner>
            </div>
            <div class="col-8 pl-0">
                <span class="price-fixed">$238.96</span>
                <span class="price-sale">$278.96</span>
                <p>Lorem ipsum dolor sit</p>
            </div>
        </div>
    </div>
    <div class="special-box mt-4">
        <div class="row">
            <div class="col-4">
                    <app-spinner></app-spinner>
            </div>
            <div class="col-8 pl-0">
                <span class="price-fixed">$238.96</span>
                <span class="price-sale">$278.96</span>
                <p>Lorem ipsum dolor sit</p>

            </div>
        </div>
    </div>
</div>



<div class="special-container">
        <div class="d-flex justify-content-between special">
            <div class="box-special">
                <p>Bestellers</p>
            </div>
    
            <div class="arrows d-flex">
                <div class="arrow arrow-left">
                    <span>
                        <</span> </div> <div class="arrow arrow-right">
                            <span>></span>
                </div>
    
            </div>
        </div>
    
        <div class="special-box mt-4">
            <div class="row">
                <div class="col-4">
                        <app-spinner></app-spinner>
                </div>
                <div class="col-8 pl-0">
                    <span class="price-fixed">$238.96</span>
                    <span class="price-sale">$278.96</span>
                    <p>Lorem ipsum dolor sit</p>
    
                </div>
            </div>
        </div>
        <div class="special-box mt-4">
            <div class="row">
                <div class="col-4">
                        <app-spinner></app-spinner>
                </div>
                <div class="col-8 pl-0">
                    <span class="price-fixed">$238.96</span>
                    <span class="price-sale">$278.96</span>
                    <p>Lorem ipsum dolor sit</p>
    
                </div>
            </div>
        </div>
        <div class="special-box mt-4">
            <div class="row">
                <div class="col-4">
                        <app-spinner></app-spinner>
                </div>
                <div class="col-8 pl-0">
                    <span class="price-fixed">$238.96</span>
                    <span class="price-sale">$278.96</span>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
        </div>
        <div class="special-box mt-4">
            <div class="row">
                <div class="col-4">
                        <app-spinner></app-spinner>
                </div>
                <div class="col-8 pl-0">
                    <span class="price-fixed">$238.96</span>
                    <span class="price-sale">$278.96</span>
                    <p>Lorem ipsum dolor sit</p>
    
                </div>
            </div>
        </div>
    </div>