
<div class="offers-wrapper d-flex justify-content-center align-items-center mt-3">
    <div class="col-9">
        <div class="row pl-0">
            <div class="col-4 pr-0">
                 <div class="offers  d-flex align-items-center justify-content-center">
                        <div class="info text-center">
                        <fa-icon [icon]="plane" class="custom-svg"></fa-icon>
                            <span>Free Shipping</span>
                            <p>on orders over $100</p>
                        </div>
                 </div>
            </div>
            <div class="col-4">
                    <div class="offers  d-flex align-items-center justify-content-center">
                        <div class="info text-center">
                        <fa-icon [icon]="faGlobeAmericas" class="custom-svg"></fa-icon>
                                <span>Free Shipping</span>
                                <p>on orders over $100</p>
                        </div>
                    </div>
            </div>
            <div class="col-4">
                    <div class="offers  d-flex align-items-center justify-content-center">
                         <div class="info text-center">
                        <fa-icon [icon]="faThumbsUp" class="custom-svg"></fa-icon>
                             <span>Free Shipping</span>
                             <p>on orders over $100</p>
                         </div>
                    </div>
            </div>
        </div>
    </div>
</div>
