
<div class="offers-wrapper d-flex justify-content-center align-items-center">
        <div class="col-9">
            <div class="row p-0 m-0 contact">
                <div class="col-3 pl-0">
                    <div class="footer-intormation">
                        <ul class="pl-0">
                            <li>Information</li>
                            <li>About Us</li>
                            <li>Delivery Information</li>
                            <li>Privacy Policy</li>
                            <li>Terms & Conditions</li>
                        </ul>
                    </div>
                </div>
                <div class="col-3 pl-0">
                    <div class="footer-intormation">
                            <ul class="pl-0">
                                <li>My Account</li>
                                <li>My Account</li>
                                <li>Order History</li>
                                <li>Wish List</li>
                                <li>Newsletter</li>
                            </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="footer-intormation">
                            <ul class="pl-0">
                                <li>Customer Service</li>
                                <li>Contact Us</li>
                                <li>Returns</li>
                                <li>Site Map</li>
                                <li>Blog</li>
                            </ul>
                    </div>
                </div>
                <div class="col-3">
                        <div class="footer-intormation">
                                <div class="subscribe-post">
                                        <span>Sign up for updates</span>
                                        <div class="subscribe d-flex" style="padding-top: 15px;">
                                                <input type="text" placeholder="Your email here" class="form-control no-border-radius-right">
                                                <button class="btn btn-info no-border-radius-left">Subscribe</button>
                                        </div>       
                                </div>
                        </div>
                </div>
            </div>
            <p class="pl-0 pt-3" style="color: white;">Powerd By Zura Corporation @2019 - 2015</p>
        </div>
     
    </div>
    