<div class="row mt-3" >
    <div class="col-lg-4  mb-3" *ngFor='let item of products '>
        <div class="item-box">
            <div class="item-box-image" >
                <img [src]="item['images'][0] ? 
                'http://localhost:3000' + item['images'][0]['image']['url'] :'assets/img/pc1.png'" alt="item">
            </div>
            <div class="item-box-price pl-2">
                <h5 *ngIf='item.price'>${{ item.price  }}</h5>
            </div>
            <div class="item-text-headline pl-2">
                <span *ngIf='item.title'>{{ item.title  }}</span>
            </div>

            <div class="item-text-description pl-2">
                <p *ngIf='item.description'>{{ item.description }}</p>
            </div>
            <div class="row pl-2">
                <div class="col-2">
                    <fa-icon [icon]="faShoppingCart" class="custom-svg"></fa-icon>
                </div>
                <div class="col-2">
                    <fa-icon [icon]="faHeart" class="custom-svg"></fa-icon>
                </div>
                <div class="col-2">
                    <fa-icon [icon]="faArrowAltCircleRight" class="custom-svg"></fa-icon>
                </div>
                <div class="col-2">
                    <fa-icon [icon]="faEye" class="custom-svg"></fa-icon>
                </div>
            </div>
        </div>
    </div>
 
</div>