
 <div class="categories">
        <div class="blue-border text-center mt-2">
            <div class="row">
                <div class="col-4 d-flex align-items-center justify-cotnent-end">
                        <div class="white-box">
                                <div class="white-line"></div>
                                <div class="white-line"></div>
                                <div class="white-line"></div>
                                <div class="white-line"></div>
                            </div>
                </div>
                <div class="col-8 pl-0">
                        <h4>Categories</h4>
                </div>
            </div>
       
        </div>
        <div class="d-flex mt-3 list">
            <ul>
                <li><a href="">TV & Video</a></li>
                <li><a href="" class="active">Mobile</a></li>
                <li><a href="">Computing</a></li>
                <li><a href="">Cameras </a></li>
                <li><a href="">Kitchen Appliances</a></li>
                <li><a href="">Household Items</a></li>
            </ul>
        </div>
    </div>