<ng-container *ngIf='loading'>
    <div class="row mt-3" >
        <div class="col-4  mb-3" *ngFor='let item of products.data; let i = index' style="height: 264px;">
            <div class="item-box" style="height: 100%;">
                <div class="item-box-image" [routerLink]='["/store/item/"+item.id]' style="width: 100%; cursor: pointer;"> 
                    <img [src]="item.image ? item.image  : 'assets/img/pc1.png'" alt="item">
                </div>
                <div class="item-box-price pl-2">
                    <h5 *ngIf='item.price'>{{ item.price  }}</h5>
                </div>
                <div class="item-text-headline pl-2">
                    <span *ngIf='item.title'>{{ item.title  }}</span>
                </div>
                <div class="item-text-description pl-2">
                    <p *ngIf='item.description'>{{ item.description }}</p>
                </div>
                <div class="row pl-2 pb-2">

                  <!-- Add-favourites -->
                  <ng-container *ngIf="!item.has_liked && activeUserId !== item.user_id">
                      <div class="col-2" (click)='addToFavourites( item.id, i )'>
                            <fa-icon [icon]="faHeart" class="custom-svg"></fa-icon>  
                      </div>  
                  </ng-container>

                  <!-- Remove-Favourites -->
                  <ng-container *ngIf="item.has_liked && activeUserId !== item.user_id">
                        <div class="col-2" (click)='removeFromFavourites( item.id, i )'>
                                <fa-icon [icon]="faHeart" class="custom-svg" style="opacity:0.3;"></fa-icon>   
                        </div>  
                    </ng-container>
                </div>
            </div>
        </div>
    
    </div>

     <!-- ngb-pagination -->
 <ng-container *ngIf="products.items_count > 12">
     <div class="d-flex justify-content-end">
         <ngb-pagination [(page)]="page"
                         [pageSize]="12"
                         [collectionSize]="products.items_count"
                         (pageChange)='onPageChange()'
                         >
         </ngb-pagination>
     </div>
 </ng-container>


</ng-container>
<ng-container *ngIf='!loading'>
  <app-spinner></app-spinner>
</ng-container>


 