<ng-container *ngIf='loading'>
    <div class="row mt-3" >
        <div class="col-4  mb-3" *ngFor='let item of products ' style="height: 264px;">
            <div class="item-box" style="height: 100%;">
                <div class="item-box-image" [routerLink]='["/store/item/"+item.id]' style="width: 100%; cursor: pointer;"> 
                    <img [src]="item.image ? item.image  : 'assets/img/pc1.png'" alt="item">
                </div>
                <div class="item-box-price pl-2">
                    <h5 *ngIf='item.price'>{{ item.price  }}</h5>
                </div>
                <div class="item-text-headline pl-2">
                    <span *ngIf='item.title'>{{ item.title  }}</span>
                </div>
                <div class="item-text-description pl-2">
                    <p *ngIf='item.description'>{{ item.description }}</p>
                </div>
                <div class="row pl-2 pb-2">
                    <div class="col-2">
                        <fa-icon [icon]="faShoppingCart" class="custom-svg"></fa-icon>
                    </div>  
                    <div class="col-2">
                        <fa-icon [icon]="faHeart" class="custom-svg"></fa-icon>
                    </div>
                    <div class="col-2">
                        <fa-icon [icon]="faArrowAltCircleRight" class="custom-svg"></fa-icon>
                    </div>
                    <div class="col-2">
                        <fa-icon [icon]="faEye" class="custom-svg"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

     <!-- ngb-pagination -->
    <div class="d-flex justify-content-end">
        <ngb-pagination [(page)]="page"
                        [pageSize]="10"
                        [collectionSize]="products.length">
        </ngb-pagination>
    </div>


</ng-container>
<ng-container *ngIf='!loading'>
  <app-spinner></app-spinner>
</ng-container>


 