  

<ng-container *ngIf='!loading'>

  <div class="pt-2 pb-2" *ngIf="canDelete">
    
  <ng-container *ngIf="!isFavourite">
    <button class="btn backgroundless" (click)='deleteItems()' >
       Delete
   </button>
  </ng-container>

  <ng-container *ngIf="isFavourite">
      <button class="btn backgroundless" (click)='removeReactions()' >
         Remove From Reactions 
     </button>
    </ng-container>
   
  </div>
  
  <form>
      <table class="table table-bordered">
      
          <thead>
            <tr>
              <th scope="col-3">
                  <div class="custom-checkbox">
                          <input type="checkbox" 
                                 id="fruit1" 
                                 name="fruit-1" 
                                 (change)='selectAll($event)'>
                          <label for="fruit1" ></label>
                  </div>
              </th>
              <th scope="col">Image</th>
              <th scope="col"> Product Name</th>
              <th scope="col"> Price </th>
              <th scope="col">Product Description</th>
              <th scope="col">Selected Category </th>
              <th scope="col" *ngIf="!isFavourite">Action </th>
              <th scope="col" *ngIf="isFavourite">Reactions</th>
            </tr>
          </thead>
      
          <tbody>
        <ng-container *ngFor='let product of userProducts; let i = index'>
              <tr>
                <th scope="row">
                    <div class="custom-checkbox">
                            <input type="checkbox" 
                                   [id]="i" 
                                   name="fruit-1"
                                   [(ngModel)]="product.isSelect"
                                   (change)='checkIfItemSeleted()'>
                            <label [for]="i"></label>
                    </div>
                </th>
                <td align="center">
                <ng-container *ngIf="isFavourite">
                  <img [src]=" product.image ? product.image : 'assets/img/pc.png'" 
                       alt="image" 
                       style="height: 41px; width: 41px;">
                </ng-container>

                <ng-container *ngIf="!isFavourite">
                    <img [src]="product.images.length > 0 ? product.images[0].image.url : 'assets/img/pc.png'" 
                         alt="image" 
                         style="height: 41px; width: 41px;">
                  </ng-container>
                       
               </td> 

                <td><a [routerLink]="['/store/item/'+product.id]"  >{{  product.title }}</a></td>
                <td>{{  product.price }}</td>
                <td>{{  product.description  }}</td>
                <td>{{  product.category_id | cat  }}</td>

                <td *ngIf="!isFavourite"> 
                    <button class="btn btn-primary" (click)='editItem( product.id )' >
                      Edit
                  </button>        
               </td>

               <td  *ngIf="isFavourite"> 
                   {{ product.reactions }}      
              </td>

              </tr>
          </ng-container>
          </tbody>
        </table>
      </form>
  </ng-container>

  <ng-container *ngIf='loading'>
       <app-spinner></app-spinner>
  </ng-container>