 
    <div class="w-100">
            <div class="login">
                <div class="login-container pb-3">
                    <form [formGroup]='registerForm' (ngSubmit)='submit()'>
                  <div class="login-wrapper" style="margin-top:4rem">
                    <div class="d-flex justify-content-center">
                            <p>Sign up for your Account</p>
                    </div>
                    <div class="login-body mt-3">
                        <div class="col-12 mt-3">
                            <input type="email" 
                                   class="form-control" 
                                   placeholder="Enter email" 
                                   formControlName="email"
                                   [ngClass]="{'is-invalid': submitted &&  regCtrls.email.errors}"
                                   >
                        </div>

                        <div class="col-12 mt-3">
                                <input type="password" 
                                       class="form-control" 
                                       placeholder="Enter password" 
                                       formControlName="password"
                                       [ngClass]="{'is-invalid': submitted &&  regCtrls.password.errors}"
                                       >
                        </div>

                        <div class="col-12 mt-3">
                                <input type="text" 
                                       class="form-control" 
                                       placeholder="Enter firstname" 
                                       formControlName="last_name"
                                       [ngClass]="{'is-invalid': submitted && regCtrls.last_name.errors}"
                                       >
                        </div>
                        <div class="col-12 mt-3">
                                <input type="text" 
                                       class="form-control" 
                                       placeholder="Enter lastname" 
                                       formControlName="first_name"
                                       [ngClass]="{'is-invalid': submitted &&  regCtrls.first_name.errors}"
                                       >
                        </div>
                        <div class="col-12 mt-3">
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-primary">
                                    Register
                                </button>
                            </div>
                      </div>
                    </div>
                 </div>
                </form>
              </div>
            </div>
       </div>
     