 
    <div class="w-100">
        <div class="login">
            <div class="login-container">
              <div class="login-wrapper" style="margin-top:4rem">
                <div class="d-flex justify-content-center">
                    <div class="d-flex justify-content-between login-header mt-1">
                        <img src="../../../assets/img/login.svg" alt="login">
                        <p>Login to your account</p>
                    </div>
                </div>
                <div class="login-body mt-3">
                    <div class="col-12 mt-3">
                        <input type="email" class="form-control" placeholder="Enter email">
                    </div>
                    <div class="col-12 mt-3">
                            <input type="password" class="form-control" placeholder="Enter password">
                    </div>

                    <div class="col-12 mt-3">
                        <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                                <label class="custom-control-label" for="defaultUnchecked">Remember me </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary">
                                Login
                            </button>
                        </div>
                  </div>
                </div>
             </div>
            </div>
        </div>
   </div>
 