<div class="products pr-0 mt-3">

    <div class="list">
        <div class="col-12 pt-1 pb-1">
            <fa-icon [icon]="faList" class="custom-svg"></fa-icon>
            <span class="pl-4">Add Product</span>
        </div>
    </div>
     <div class="col-12 pt-3 pb-3" >

    <div class="add-product-form">
        <form autocomplete="off">
            <div class="row">
                    <div class="col-4">

                        <label for="add">Product Name</label>
                        <input type="text" class="form-control" id='add' placeholder="Enter product name">

                    </div>
                    <div class="col-4">

                        <label for="price">Price</label>
                        <input type="text" class="form-control" id='price' placeholder="Enter price">

                    </div>
                    <div class="col-4">

                        <label for="add">Product Description</label>
                        <input type="text" class="form-control" id='add' placeholder="Enter description ">

                    </div>
            </div>
            <div class="row pt-3">
                    <div class="col-4">
                        <label for="category" class="label-control">Select Category</label>
                         <select class="form-control" id='category'>
                              <option selected disabled>Select One</option>
                              <option value=""></option>
                              <option value=""></option>
                         </select>
                    </div>
                    <div class="col-4">

                         <label for="model">Model</label>
                        <input type="text" class="form-control" id='model' placeholder="Enter Model">

                    </div>
                    <div class="col-4">

                        <label for="details">Additional Details</label>
                        <input type="text" class="form-control" id='details' placeholder="Enter Additional Details">

                </div>
           </div>
        </form>
        <button class="btn btn-info mt-3">Upload</button>
        <div class="row  added-product-image">
            <div class="col-4">
                        <img src="assets/img/pc.png" alt="image">
            </div>
            <div class="col-4">
                        <img src="assets/img/pc.png" alt="image">
            </div>
            <div class="col-4">
                        <img src="assets/img/pc.png" alt="image">
            </div>
        </div>
     
     </div>
  </div>

</div>