<div class="store-header row align-items-center">

  <div class="store-title store-center col-md-3" [routerLink]="['/']"  style="cursor: pointer;" >
    <h2>GTU SHOP</h2>
    <p>Online store</p>
  </div>
  
  <div class="store-search store-center col-md-6">
    <input type="text" class="form-control" />
    <button class="btn btn-primary">Search</button>
  </div>
  <div class="store-contact store-center col-md-3 d-flex align-items-center justify-content-center">
    <fa-icon [icon]="faPhone"></fa-icon>
    <h2 class="pl-3"> 599696969</h2>
  </div>
</div>
