@import 'src/variables';
.offers-wrapper {
    background: $soft-blue;
    min-height: 227px;
    .offers {
        border-radius: 3px;
        border: 1px solid $white;
        min-height: 167px;
        .custom-svg {
            color: $white;
            font-size: 1.7rem;
            margin: 0px auto;
            display: block;
            text-align: center;
            padding-bottom: 15px;
        }
        span, p {
            color: $white;
            font-size: 1.3rem;
        }
    }
   

}
